h1 {
  color: red;
  font-size: 200%;
}

h2 {
  color: orange;
  font-size: 175%;
}

h3 {
  color: yellow;
  font-size: 150%;
}

h4 {
  color: green;
  font-size: 125%;
}

h5 {
  color: blue;
  font-size: 75%;
}

p {
  text-indent: 100px;
}

#content {
  border: dashed 5px #00ffff
}
